.licenses {
  padding: 2% 8% 5% 8%;
}

.licenses-title {
  margin-bottom: 25px;
}

.licenses-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.licenses-text {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.licenses-image {
  width: 250px;
}

@media (min-width: 768px) {
  .licenses-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .licenses-image {
    width: 350px;
  }
}

@media (min-width: 992px) {
  .licenses-content {
    flex-direction: row;
  }
  
  .licenses-text {
    width: max-content;
    margin-right: 7%;
  }
}

@media (min-width: 1200px) {
  .licenses {
    padding: 3% 10% 5% 10%;
  }
}
