.navbar {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  background-color: #05386b;
  margin-bottom: 15px;
  padding-bottom: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 1;
  animation: appear 1.2s ease-in;
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.nav-contacts {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: x-small;
}

.phones-navbar {
  padding-right: 20px;
}

.phones-navbar,
.email-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.phone-icon-navbar,
.email-icon-navbar {
  display: none;
}

.email-navbar {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 7px;
}

.email-icon-navbar {
  display: none;
  width: 12px;
  padding-right: 7px;
}

.nav-menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

.normal-navbar-color,
.links-container.showMenu.normal-navbar-color {
  background-color: #05386b;
  /* animation: navbar-normal-color 0.5s ease-in; */
}

.menu-container {
  height: 100%;
  width: 80px;
  min-width: 80px;
  display: flex;
  align-items: center;
  padding-left: 3%;
  box-sizing: border-box;
}

.button-menu {
  background-color: transparent;
  display: flex;
  border: none;
  cursor: pointer;
}

.button-menu:focus {
  outline: none;
}

.menu-icon {
  width: 20px;
}

.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-padding-right {
  padding-right: 80px;
  box-sizing: border-box;
}

.fundauto-img {
  width: 120px;
}

.links-container {
  width: 100vw;
  height: 0px;
  top: 107px;
  display: none;
  position: absolute;
  align-items: unset;
  background-color: #05386b;
  overflow: hidden;
}

.links-container.showMenu {
  height: fit-content;
  top: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

@keyframes showMenu {
  from { height: 0; }
  to { height: 189px; }
}

.links-container.showMenu {
  background-color: black;
  animation: showMenu 0.5s ease;
}

.closeMenu {
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@keyframes closeMenu {
  from { height: 189px; }
  to { height: 0; }
}

.closeMenu {
  animation: closeMenu 0.5s ease;
}

.navbar-link {
  height: 27px;
  width: 100%;
  color: white;
  text-decoration: none;
}

.button-text {
  display: none;
}

.login-container {
  height: 100%;
  width: 80px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.login-group,
.logout-group {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-icon {
  width: 17px;
}

.logout-icon {
  width: 17px;
}

.key-icon {
  width: 17px;
}

@media (min-width: 576px) {
  .nav-contacts {
    font-size: 12px;
  }

  .phone-icon-navbar,
  .email-icon-navbar {
    display: block;
    width: 13px;
    min-width: 13px;
    padding-right: 7px;
  }

  .menu-icon {
    min-width: 20px;
  }

  .menu-container-wider,
  .login-container-admin {
    width: 100px;
    min-width: 100px;
  }

  .login-icon {
    min-width: 17px;
    padding-right: 5px;
  }

  .logout-icon {
    min-width: 17px;
    padding-left: 5px;
  }

  .key-icon {
    min-width: 17px;
    padding-left: 7px;
  }

  .key-icon,
  .login-icon,
  .logout-icon {
    animation: icon-abate 0.2s linear;
  }

  .navbar-link:hover .key-icon,
  .navbar-link:hover .login-icon,
  .navbar-link:hover .logout-icon {
    width: 20px;
    min-width: 20px;
    animation: icon-grow 0.2s linear;
  }

  @keyframes icon-grow {
    from { width: 17px; min-width: 17px; }
    to { width: 20px; min-width: 20px; }
  }

  @keyframes icon-abate {
    from { width: 20px; min-width: 20px; }
    to { width: 17px; min-width: 17px; }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-bottom: 0;
  }
  
  .phones-navbar {
    padding-right: 30px;
  }

  .logo-container {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: fit-content;
    padding: 0 20px;
  }

  .fundauto-img {
    animation: abate-logo 0.3s ease-in-out;
  }

  @keyframes abate-logo {
    from { width: 140px; }
    to { width: 120px; }
  }

  .fundauto-img:hover {
    width: 140px;
    animation: grow-logo 0.3s ease-in-out;
  }

  @keyframes grow-logo {
    from { width: 120px; }
    to { width: 140px; }
  }

  .menu-container {
    display: none;
  }

  .login-container-admin {
    width: 110px;
    min-width: 110px;
  }

  .links-container.showMenu,
  .links-container.navbar-admin.showMenu,
  .links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    padding-left: 160px;
  }

  .links-container.showMenu {
    animation: none;
  }

  .closeMenu {
    animation: none;
  }

  .links-container.navbar-admin {
    justify-content: start;
  }

  .navbar-link {
    height: 100%;
    width: calc((100% - 100px) / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    padding: 0 10px;
    box-sizing: border-box;
    animation: link-down 0.2s linear;
  }

  @keyframes link-down {
    from { font-size: 16px; }
    to { font-size: smaller; }
  }

  .navbar-link:hover {
    font-size: 16px;

    animation: link-up 0.2s linear;
  }

  @keyframes link-up {
    from { font-size: smaller; }
    to { font-size: 16px; }
  }

  .home {
    width: 50px;
  }

  .navbar-admin .navbar-link {
    width: calc((100% - 110px) / 3);
  }

  .login-group {
    width: 100%;
  }

  .navbar  .navbar-link.button-menu {
    width: calc(100% / 2);
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
}

@media (min-width: 992px) {
  .phones-navbar {
    padding-right: 50px;
  }

  .navbar-link {
    font-size: medium;
    animation: link-down-xl 0.2s linear;
  }

  @keyframes link-down-xl {
    from { font-size: 18px; }
    to { font-size: medium; }
  }

  .navbar-link:hover {
    font-size: 18px;
    animation: link-up-xl 0.2s linear;
  }

  @keyframes link-up-xl {
    from { font-size: medium; }
    to { font-size: 18px; }
  }

  .home {
    width: 100px;
  }

  .login-container {
    width: 110px;
    min-width: 110px;
    padding-right: 2%;
    box-sizing: border-box;
  }

  .login-container-admin {
    width: 260px;
    min-width: 260px;
    padding-right: 10px;
  }

  .button-text {
    display: flex;
    flex-wrap: nowrap;
    font-size: smaller;
    animation: icon-link-down 0.2s linear;
  }

  @keyframes icon-link-up {
    from { font-size: smaller; }
    to { font-size: 15px; }
  }

  .navbar-link.login-group.button-menu:hover .button-text {
    font-size: 15px;
    animation: icon-link-up 0.2s linear;
  }

  @keyframes icon-link-down {
    from { font-size: 15px; }
    to { font-size: smaller; }
  }
}
