#contactUs {
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  padding: 3% 5% 5% 5%;
  box-sizing: border-box;
  position: relative;
  top: -250px;
}

.title-contact-us {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fundauto-img-contact-us {
  width: 65px;
  height: 35px;
  margin-top: 3px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-group {
  width: 100%;
}

.contact-group {
  width: 100%;
  display: flex;
  align-items: center;
}

.email-contact-group {
  margin: 12px 0;
}

.subtitle {
  display: flex;
  align-items: center;
  color: #05386B;
  font-size: 13px;
  margin: 0 7px 0 0;
}

.phone-icon-contact-us {
  width: 17px;
  padding-right: 7px;
}

.fax-icon-contact-us {
  width: 18px;
  padding-right: 7px;
}

.mobile-icon-contact-us {
  width: 19px;
  padding-right: 5px;
}

.email-icon-contact-us {
  width: 16px;
  padding-right: 7px;
}

.phones-contat-us {
  margin: 0;
}

.email-contact-us,
.location-link-contact-us {
  color: #6A6867;
  text-decoration: none;
}

.right-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.schedule-title {
  width: 100%;
  margin: 0;
}

.watch-icon-contact-us {
  width: 16px;
  padding-right: 7px;
}

.schedule-text-contact-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  box-sizing: border-box;
}

.days {
  margin: 10px 0 0 0;
}

.location-contact-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  box-sizing: border-box;
}

.location-icon-contact-us {
  width: 18px;
  padding-right: 5px;
}

.location-text {
  padding: 0 0 0 25px;
  margin-bottom: 25px;
}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
}

.medium-map {
  display: none;
}

.schedule-desktop {
  display: none;
}

.friday-schedule {
  margin-top: 0;
}

@media (min-width: 375px) {
  .fundauto-img-contact-us {
    width: 75px;
    height: 40px;
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .fundauto-img-contact-us {
    width: 115px;
    height: 55px;
  }

  #contactUs {
    padding: 3% 10% 5% 10%;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .fundauto-img-contact-us {
    width: 140px;
    height: 75px;
  }

  #contactUs {
    font-size: 16px;
  }

  .contacts {
    flex-direction: row;
  }

  .left-group {
    width: 50%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .right-group {
    width: 50%;
    padding: 17px 10px 20px 10px;
    margin: 0;
    box-sizing: border-box;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .email-contact-group {
    margin-top: 15px;
  }

  .subtitle {
    font-size: 18px;
  }

  .schedule-text-contact-us {
    align-items: flex-start;
    padding: 0 23px;
  }

  .location-contact-us {
    flex-direction: row;
    padding: 30px 0;
  }

  .location-icon-contact-us {
    width: 20px;
  }

  .location-text {
    padding-right: 5%;
    box-sizing: border-box;
  }

  .schedule-mobile {
    display: none;
  }

  .schedule-desktop {
    display: block;
    margin: 10px 0 0 0
  }

  .friday-schedule {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .right-group {
    padding: 20px 0 20px 5%;
  }

  .small-map {
    display: none;
  }

  .medium-map {
    display: block;
  }
}

@media (min-width: 1030px) {
  .schedule-mobile {
    display: block;
  }

  .schedule-desktop {
    display: none;
  }
  
  .friday-schedule {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  #contactUs {
    padding: 3% 10% 5% 10%;
  }

}

@media (min-width: 1600px) {
  .fundauto-img-contact-us {
    margin-right: 5%;
  }
}

@media (min-width: 2000px) {
  .fundauto-img-contact-us {
    margin-right: 7%;
  }
}

@media (min-width: 2250px) {
  .fundauto-img-contact-us {
    margin-right: 10%;
  }
}
