body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  color: #6A6867;
  height: 100%;
}

.title {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #05386B;
  height: 100%;
  width: 100%;
  margin-bottom: 45px;
}

button {
  cursor: pointer;
}


.margin-bottom {
  margin-bottom: 50px;
}

.text-centered {
  text-align: center;
}

section {
  scroll-margin-top: 120px;
  scroll-snap-margin-top: 50px; /* iOS 11 and older */
}

@media(min-width: 576px) {
  .title {
    font-size: 2em;
  }

  .padding-left {
    padding-left: 5%;
    box-sizing: border-box;
  }
}


/* Desde 1024px */
 @media (min-width: 1024px) { 
  body {
    /* font-size: 20px; */
  }
}